doctype html
html
  head
    title= iTurismo
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
     <img src="http://turismotamaulipas.com/2016/wp-content/uploads/2014/02/tampicoMiramar-2.png"> 
  body
    block content
  
